*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* debug */

/* header */
.header-box{
    background-color:aquamarine ;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.nav-bar{
    display: flex;
    width: 80%;
    background-color: orange;
    height: 60%;
    
}

.header-icons{
    width: 25%;
    border: 1px dashed black;
    align-items: center;
    display: flex;
    padding: 5px;
}
.header-central-icons{
    width: 50%;
    justify-content: center;
    display: flex;
    border: 1px dashed black;
    align-items: center;
}    

.login{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

/* fine header */
 
/* inizio main */
.blue-box{
    width: 100%;
    background-color: blue;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-box{
    width: 50%;
    background-color: pink;
    min-height:300px ;
    border: 1px dashed black;
}

